version: '3'
services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - AUTH0_AUDIENCE
      - AUTH0_ISSUER
      - AUTH0_PEM
      - MONGODB_URI
      - MONGODB_DB
      - SENTRY_DSN
      - SENTRY_ENVIRONMENT
      - EBL_AI_API
    volumes:
      - ./ebl:/usr/src/ebl/ebl
    restart: on-failure
