[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "==1.4.1"

[dev-packages]
pytest = "==3.6.0"
pytest-cov = "==2.5.1"
pylint = "*"

[requires]
python_version = "3.6"
