[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "~=2.0.0"
falcon-auth = "*"
cryptography = "*"
pymongo = "*"
newrelic = "*"
pydash = "*"
requests = "*"
dictdiffer = "*"
regex = "*"
jsonschema = "*"
pyoracc = "*"
parsy = "*"
attrs = "*"
sentry-sdk = "*"
roman = "*"
waitress = "*"
falcon-apispec = "*"
progress = "*"
lark-parser = "*"
marshmallow = "*"
inflect = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mongomock = "*"
freezegun = "*"
pyexecjs = "*"
mypy = "*"
mypy-extensions = "*"
pytest-watch = "*"
pytest-mockito = "*"
v = {editable = true,version = "*"}
factory-boy = "*"
rope = "*"
flake8 = "*"
pyhamcrest = "*"
httpretty = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "pylint ebl"
test = "pytest --cov=ebl --cov-report term --cov-report xml"
ptw = "ptw --runner \"pytest --cov=ebl --cov-report term --cov-report xml\""
test-ci = "./run_tests.sh"
