[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "~=2.0.0"
falcon-auth = "*"
cryptography = "*"
pymongo = "*"
pydash = "*"
requests = "*"
dictdiffer = "*"
jsonschema = "*"
attrs = "*"
sentry-sdk = {extras = ["falcon"],version = "*"}
roman = "*"
waitress = "*"
falcon-apispec = "*"
lark-parser = "*"
marshmallow = "*"
inflect = "*"
joblib = "*"
tqdm = "*"
marshmallow-oneofschema = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mongomock = "*"
freezegun = "*"
pytest-watch = "*"
pytest-mockito = "*"
factory-boy = "*"
flake8 = "*"
pyhamcrest = "*"
flake8-bugbear = "*"
httpretty = "*"
pyre-check = "==0.0.57"
black = "==19.3b0"

[requires]
python_version = "3.6"

[scripts]
test = "pytest --cov=ebl --cov-report term --cov-report xml"
test-watch = "ptw --runner \"pytest --cov=ebl --cov-report term --cov-report xml\""
start = "waitress-serve --port=8000 --call ebl.app:get_app"
lint = "flake8 ebl"

[pipenv]
allow_prereleases = true
